h1{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300px;
    font-size: 54px;
	margin-left: 2%;
}
h2{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 32px;
	margin-left: 3%;
	margin-right: 3%;
	border: 3px solid rgb(27, 134, 27);
	background-color: rgb(225, 247, 229);
	padding: 1%;
	padding-left: 2%;
}
h3{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 16;
    font-size: 20px;
}

.ingredient_pic{
	border: 5px solid #F28972;
	margin-left: 3%;
	width: 25%;
	flex: auto;
	float: left;
}

.showcase_pic{
	width: 80%;
	margin-left: 6%;
	margin-bottom: 10%;
	border: 5px solid #F28972;
	border-radius: 30%;
}

.text_space{
	margin-left: 30%;
	margin-bottom: 20%;
	margin-right: 5%;
}
.text_space_content{
	margin-left: 3%;
	margin-bottom: 15%;
}

.box_control{
	margin-bottom: 20px;
}

.title_box{
	margin-top: 20%;
	margin-bottom: 20%;
	border: 20px solid coral;
}

body{
	background-color: #3E160B;
}

.grid-container {
	display: grid;
	grid-template-columns: 10% auto 20%;
	grid-gap: 20px;
}

.grid-container > div{
    border: 3px solid #D1D2C8;
	font-size: 20px;
	align-items: center;
	background-color: #D7BCB2;
}

#header{
	grid-column: 1 / span 3;
}
#left{
	grid-column: 1 / span 1;
}
#main1{
	grid-column: 2 / span 1;
}
#main2{
	grid-column: 3 / span 1;
}
#footer{
	grid-column: 1 / span 3;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		  display: grid;
		  grid-template-columns: auto;
		  grid-gap: 10px;
	}

	#header{
		grid-column: 1 / span 3;
	}
	#left{
		grid-column: 1 / span 1;
	}
	#main1{
		grid-column: 2 / span 2;
	}
	#main2{
		grid-column: 1 / span 3;
	}
	#footer{
		grid-column: 1 / span 3;
	}
}

@media only screen and (max-width: 480px) 
{
	.grid-container {
		display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
	}

	.ingredient_pic{
		border: 5px solid #862009;
		width: 50%;
		margin-left: 20%;
		float: none;
		flex: none;
	}

	.text_space{
		margin-left: 7%;
		margin-bottom: 20%;
		margin-right: 5%;
	}

	#header{
		grid-column: 1 / span 1;
	}
	#main1{
		grid-column: 1 / span 1;
	}
	#main2{
		grid-column: 1 / span 1;
	}
	#left{
		grid-column: 1 / span 1;
	}
	#footer{
		grid-column: 1 / span 1;
	}
}